<% @page_title = "Admin: Articles" %>

<table>
  <tr>
    <th>Article</th>
    <th>Description</th>
    <th> </th>
    <th>Category</th>
    <th>Display</th>
    <th>Last Update</th>
  </tr>

  <% for article in @articles %>
    <tr>
      <td><%= link_to "#{article.title}", admin_article_path(article) %></td>
      <td><%=h article.description %></td>
      <td><%= link_to "(delete)", admin_article_path(article), :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= link_to "#{article.article_category.name}", { :action => 'index', :article_category_id => article.article_category.id } %></td>
      <td><%=h article.display %></td>
      <td><%=h article.updated_at.to_formatted_s(:long) %></td>
    </tr>
  <% end %>
</table>

<br />
<br />
<%= link_to 'Show All', admin_articles_path %>
 |
<%= link_to 'New article', new_admin_article_path %>
