<% @page_title = "Schedule: #{@year}" %>

<%= tabnav :schedule_disciplines %>
<%#alphere links_to_years @discipline %>
<%- @years = Event.find_all_years -%>
<%#- if @years.size > 1 -%>
  <%= render :partial => "years",  :locals => { :years => @years } %>
<%#- end -%>
<%#alphere = render :partial => "disciplines", :locals => { :year => @year } %>

<br/>

<%# if Date.today < Date.new(@year, 2) %>
  <!--div>Tentative. Dates are subject to change.</div-->
<%# end %>

<div align="center">
  <table class="base">
    <caption><%= @year %></caption>
    <tr class='column_titles'>
      <th>&nbsp;</th>
      <th>Event</th>
      <th>Promoter</th> 
      <th>Phone</th>
      <th>Discipline</th>
      <th>Location</th>
    </tr>
    <%- for month in @schedule.months -%>
      <%- sql = "Select COUNT(*) from events where MONTH(date)= #{month.date.month} and YEAR(date) = #{@year}" %>
      <%- sql = sql << " and discipline = '#{@discipline.name}'" unless @discipline.blank?  %>
      <%- if Event.count_by_sql(sql) > 0 -%>
        <tr><th><%= month.name %></th></tr>
        <%- for week in month.weeks -%>
          <%- for day in week.days -%>
            <%- for event in day.events -%>
              <%- event_name = event.full_name -%>
              <tr class="<%= cycle("even", "odd") %>">
                <td>
                  <%- if event.date -%>
                    &nbsp;&nbsp;<%= event.date.strftime("%a %d") -%>
                  <%- end -%>
                </td> 
                <%- if event.cancelled %>
                  <td><span class="cancelled"><%= event_name -%></span> <i>cancelled</i></td>
                <%- else -%>
                  <td class="link">
                    <%- if (!event.flyer.blank? and event.flyer_approved?) -%>
                      <a href="<%= event.flyer -%>"><%= event_name -%></a>
                    <%- else -%>
                      <%= event_name -%>
                    <%- end -%>
                  <%- end -%>
                </td> 
                <td>
                  <%- if event.promoter_email.blank? -%>
                    <%= event.promoter_name -%>
                  <%- elsif event.promoter_name.blank? -%>
                    <a href="mailto:<%= event.promoter_email -%>"><%= event.promoter_email -%></a>
                  <%- else -%>
                    <a href="mailto:<%= event.promoter_email -%>"><%= event.promoter_name -%></a>
                  <%- end -%>
                </td> 
                <td><%= event.promoter_phone -%></td> 
                <td><%= event.discipline -%></td> 
                <td><%= event.city -%></td>
              </tr>
            <%- end -%>
          <%- end -%>
        <%- end -%>
      <%- end -%>
    <%- end -%>
  </table>
</div>
